<section>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Table</th>
        <th scope="col">File path</th>
        <th scope="col">Import File</th>
        <th scope="col">Import checking</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Sport</td>
        <td>
            <%= form_tag import_sports_path, multipart: true do%>
              <%= file_field_tag :file%> 
        </td>
        <td>
            <%= submit_tag "Import from file"%>
            <%end%>
        </td>
        <td>
            <%if !@sports.empty?%>
            <i class="fas fa-check"></i>
            <%else%>
            <i class="fas fa-times-circle"></i>
            <%end%>
        </td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Sport Roles</td>
        <td>
            <%= form_tag import_sport_roles_path, multipart: true do%>
              <%= file_field_tag :file%> 
        </td>
        <td>
            <%= submit_tag "Import from file"%>
            <%end%>
        </td>
        <td>
            <%if !@sportrole.empty?%>
            <i class="fas fa-check"></i>
            <%else%>
            <i class="fas fa-times-circle"></i>
            <%end%>
        </td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Qualities</td>
        <td>
            <%= form_tag import_qualities_path, multipart: true do%>
              <%= file_field_tag :file%> 
        </td>
        <td>
            <%= submit_tag "Import from file"%>
            <%end%>
        </td>
        <td>
            <%if !@quality.empty?%>
            <i class="fas fa-check"></i>
            <%else%>
            <i class="fas fa-times-circle"></i>
            <%end%>
        </td>
      </tr>
      <tr>
        <th scope="row">4</th>
        <td>Capacities</td>
        <td>
            <%= form_tag import_capacities_path, multipart: true do%>
              <%= file_field_tag :file%> 
        </td>
        <td>
            <%= submit_tag "Import from file"%>
            <%end%>
        </td>
        <td>
            <%if !@capacity.empty?%>
            <i class="fas fa-check"></i>
            <%else%>
            <i class="fas fa-times-circle"></i>
            <%end%>
        </td>
      </tr>
      <tr>
        <th scope="row">5</th>
        <td>Muscular Groups</td>
        <td>
            <%= form_tag import_muscular_groups_path, multipart: true do%>
              <%= file_field_tag :file%> 
        </td>
        <td>
            <%= submit_tag "Import from file"%>
            <%end%>
        </td>
        <td>
            <%if !@muscular_group.empty?%>
            <i class="fas fa-check"></i>
            <%else%>
            <i class="fas fa-times-circle"></i>
            <%end%>
        </td>
      </tr>
      <tr>
        <th scope="row">6</th>
        <td>Training Methods</td>
        <td>
            <%= form_tag import_training_methods_path, multipart: true do%>
              <%= file_field_tag :file%> 
        </td>
        <td>
            <%= submit_tag "Import from file"%>
            <%end%>
        </td>
        <td>
            <%if !@training_method.empty?%>
            <i class="fas fa-check"></i>
            <%else%>
            <i class="fas fa-times-circle"></i>
            <%end%>
        </td>
      </tr>
      <tr>
        <th scope="row">7</th>
        <td>Training Exercises</td>
        <td>
            <%= form_tag import_exercises_path, multipart: true do%>
              <%= file_field_tag :file%> 
        </td>
        <td>
            <%= submit_tag "Import from file"%>
            <%end%>
        </td>
        <td>
            <%if !@exercises.empty?%>
            <i class="fas fa-check"></i>
            <%else%>
            <i class="fas fa-times-circle"></i>
            <%end%>
        </td>
      </tr>
      <tr>
        <th scope="row">8</th>
        <td>Intensity</td>
        <td>
            <%= form_tag import_intensities_path, multipart: true do%>
              <%= file_field_tag :file%> 
        </td>
        <td>
            <%= submit_tag "Import from file"%>
            <%end%>
        </td>
        <td>
            <%if !@intensities.empty?%>
            <i class="fas fa-check"></i>
            <%else%>
            <i class="fas fa-times-circle"></i>
            <%end%>
        </td>
      </tr>
      <tr>
        <th scope="row">9</th>
        <td>Levels</td>
        <td>
            <%= form_tag import_levels_path, multipart: true do%>
              <%= file_field_tag :file%> 
        </td>
        <td>
            <%= submit_tag "Import from file"%>
            <%end%>
        </td>
        <td>
            <%if !@levels.empty?%>
            <i class="fas fa-check"></i>
            <%else%>
            <i class="fas fa-times-circle"></i>
            <%end%>
        </td>
      </tr>
      <tr>
        <th scope="row">10</th>
        <td>Exercises types</td>
        <td>
            <%= form_tag import_extypes_path, multipart: true do%>
              <%= file_field_tag :file%> 
        </td>
        <td>
            <%= submit_tag "Import from file"%>
            <%end%>
        </td>
        <td>
            <%if !@extypes.empty?%>
            <i class="fas fa-check"></i>
            <%else%>
            <i class="fas fa-times-circle"></i>
            <%end%>
        </td>
      </tr>
      <tr>
        <th scope="row">11</th>
        <td>Muscles</td>
        <td>
            <%= form_tag import_muscles_path, multipart: true do%>
              <%= file_field_tag :file%> 
        </td>
        <td>
            <%= submit_tag "Import from file"%>
            <%end%>
        </td>
        <td>
            <%if !@muscles.empty?%>
            <i class="fas fa-check"></i>
            <%else%>
            <i class="fas fa-times-circle"></i>
            <%end%>
        </td>
      </tr>
      <tr>
        <th scope="row">12</th>
        <td>Variants</td>
        <td>
            <%= form_tag import_variants_path, multipart: true do%>
              <%= file_field_tag :file%> 
        </td>
        <td>
            <%= submit_tag "Import from file"%>
            <%end%>
        </td>
        <td>
            <%if !@variants.empty?%>
            <i class="fas fa-check"></i>
            <%else%>
            <i class="fas fa-times-circle"></i>
            <%end%>
        </td>
      </tr>
      <tr>
        <th scope="row">13</th>
        <td>JT Roles MG Capacities</td>
        <td>
            <%= form_tag import_roles_muscular_group_capacities_path, multipart: true do%>
              <%= file_field_tag :file%> 
        </td>
        <td>
            <%= submit_tag "Import from file"%>
            <%end%>
        </td>
        <td>
            <%if !@roles.empty?%>
            <i class="fas fa-check"></i>
            <%else%>
            <i class="fas fa-times-circle"></i>
            <%end%>
        </td>
      </tr>
      <tr>
        <th scope="row">14</th>
        <td>JT Methods Exercises</td>
        <td>
            <%= form_tag import_training_method_exercises_path, multipart: true do%>
              <%= file_field_tag :file%> 
        </td>
        <td>
            <%= submit_tag "Import from file"%>
            <%end%>
        </td>      
        <td>
            <%if !@methodexercises.empty?%>
            <i class="fas fa-check"></i>
            <%else%>
            <i class="fas fa-times-circle"></i>
            <%end%>
        </td>
      </tr>
      <tr>
        <th scope="row">15</th>
        <td>JT Methods Levels</td>
        <td>
            <%= form_tag import_training_method_levels_path, multipart: true do%>
              <%= file_field_tag :file%> 
        </td>
        <td>
            <%= submit_tag "Import from file"%>
            <%end%>
        </td>      
        <td>
            <%if !@methodlevels.empty?%>
            <i class="fas fa-check"></i>
            <%else%>
            <i class="fas fa-times-circle"></i>
            <%end%>
        </td>
      </tr>
      <tr>
        <th scope="row">16</th>
        <td>JT Methods Intensities</td>
        <td>
            <%= form_tag import_training_method_intensities_path, multipart: true do%>
              <%= file_field_tag :file%> 
        </td>
        <td>
            <%= submit_tag "Import from file"%>
            <%end%>
        </td>      
        <td>
            <%if !@methodintensities.empty?%>
            <i class="fas fa-check"></i>
            <%else%>
            <i class="fas fa-times-circle"></i>
            <%end%>
        </td>
      </tr>
      <tr>
        <th scope="row">17</th>
        <td>JT Exercise Variant</td>
        <td>
            <%= form_tag import_exercise_variants_path, multipart: true do%>
              <%= file_field_tag :file%> 
        </td>
        <td>
            <%= submit_tag "Import from file"%>
            <%end%>
        </td>      
        <td>
            <%if !@exercisevariants.empty?%>
            <i class="fas fa-check"></i>
            <%else%>
            <i class="fas fa-times-circle"></i>
            <%end%>
        </td>
      </tr>
    </tbody>
  </table>
</section>


