<div class="container mt-4">

  <div class="card-deck">

    <div class="card">
      <div class="card-header">
        <h5 class="card-title">Compteur</h5>
      </div>
      <div class="card-body text-center">
                <h1 class="card-title text-center"><%=@users.count%></h1>
                <p>Nombres d'inscrits</p>
                <h1 class="card-title text-center">
                <%if @count_sub == nil %>
                0
                <%else%>
                <%=@count_sub%>
                <%end%></h1>
                <p>Nombres d'abonnés</p>
      </div>
      <div class="card-footer text-center">
      <%= link_to "Voir les utilisateurs", admins_users_path, class:"btn btn-warning btn-sm"%>

      </div>
    </div>

    <div class="card text-center">
      <div class="card-header">
      <h5 class="card-title">Base de données</h5>
      </div>
      <div class="card-body">
          <h1 class="card-title text-center"><%=@numb%></h1>
          <p>Nombres de tables de BDD</p>
      </div>
      <div class="card-footer">
      <%= link_to "Import CSV", import_admins_path, class:"btn btn-warning btn-sm"%>
      </div>
    </div>

    <div class="card text-center">
      <div class="card-header">
      <h5 class="card-title">Administrateurs</h5>
      </div>
      <div class="card-body">
          <h1 class="card-title text-center"><%=@admins.count%></h1>
          <p>Nombres d'admins</p>
      </div>
      <div class="card-footer">
      <%= link_to "Créer un admin", new_admin_path, class:"btn btn-warning btn-sm"%>
      </div>
    </div>
  
  </div>

</div>