<h2>Edit <%= resource_name.to_s.humanize %></h2>

<!-- form for registration -->
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "admins/shared/error_messages", resource: resource %>
    <section class="py-0" id="page-signup">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-6 px-0">
            <div class="sticky-top vh-lg-100 py-9">
              <div class="bg-holder" 
                  style="background-image:url(https://images.pexels.com/photos/186076/pexels-photo-186076.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260);" 
                  data-zanim-trigger="scroll"
                  data-zanim-lg='{"animation":"zoom-out-slide-right"}'
              ></div>
            </div>
          </div>
          <div class="col-lg-6 bg-white py-6">
            <div class="row h-100 align-items-center justify-content-center">
              <div class="col-sm-8 col-md-6 col-lg-10 col-xl-8"
                  data-zanim-xs='{"animation":"slide-right"}'
                  data-zanim-trigger="scroll">

                  <h2>
                  Editer mon compte <%= resource_name.to_s.humanize %>
                  </h2>

                <h6 class="text-danger mt-3">
                  Spécialement conçue pour les compétieurs pour leur préparation physique.
                </h6>
              <form class="mt-5">
                <div class="row mb-4">
                  <div class="col">
                    <%= f.text_field :first_name,
                        class:"form-control border-300 bg-light",
                        autofocus: true,
                        placeholder: 'prénom' 
                    %> 
                  </div>
                </div>
                <div class="row mb-4">
                  <div class="col">
                    <%= f.text_field :last_name,
                        class:"form-control border-300 bg-light",
                        autofocus: true,
                        placeholder: 'nom' 
                    %> 
                  </div>
                </div>
                <div class="row mb-4">
                  <div class="col">
                    <%= f.email_field :email,
                        class:"form-control border-300 bg-light",
                        autofocus: true,
                        placeholder: 'e-mail' 
                    %> 
                  </div>
                </div>
                <div class="row mb-4">
                  <div class="col">
                    <%= f.label :new_password %>
                    <%= f.password_field :password,
                        class:"form-control border-300 bg-light",
                        autocomplete: "new-password" 
                    %> 
                  </div>
                  <div class="col">
                    <%= f.label :password_confirmation %>
                    <%= f.password_field :password_confirmation,
                        class:"form-control border-300 bg-light",
                        autocomplete: "new-password" 
                    %>
                  </div>
                </div>  
                <div class="col">
                  <%= f.label :current_password %>
                  <%= f.password_field :current_password,
                      class:"form-control border-300 bg-light",
                      autocomplete: "current-password" 
                  %>
                </div>
                <div class="row mb-4 align-items-center">
                  <div class="col-auto">
                    <%= f.submit :"Editer mon Compte",
                        class:"btn btn-success btn-block mt-3",
                        autofocus: true 
                    %>                      
                  </div>
                  <div class="col-sm">
                    <p class="fs--1 text-700 mb-0 text-sans-serif mt-2 mt-lg-0">
                      En validant votre compte, vous acceptez
                      <p class="text-black">
                        nos conditions d&rsquo;utilisation.
                      </p>
                    </p>
                  </div>
            <div class="row mb-4 align-items-center">
                <div class="col-auto">
                      <br><br>
                      <h3 class="display-4 fs-2">
                          Supprimer mon compte
                      </h3>
                  <%= button_to "Supprimer mon compte", registration_path(resource_name),class:"btn btn-danger btn-block mt-3", 
                      data: { confirm: "Etes-vous sur ?" }, method: :delete %>
                  <div class="btn btn-block">
                      <%= link_to "Retour", :root %>
                  </div>
              </div>
            </div>
    </section>

                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <!-- cancelling account -->
    
<% end %>
