<h1 class="hidden">
  <%= title 'Chat' %>
</h1>

<%= render "layouts/navbar"%>

<div class="row chat-container">
  <div class="col-md-8 center-block">
    <div class="messages" id="messages">
     <%= render @messages %>
    </div>
    <hr>
    <div class="message-container">
      <%= form_for(@message, :html => {class: "form-horizontal", role: "form"}) do |f| %>
        <%= f.text_area :content, class: "form-control", placeholder:"message" %>
        <%= f.submit "Envoyer", class: "btn btn-primary" %>
      <% end %>   
    </div>
  </div>
</div>

<%= render "layouts/footer"%>