<h1>Workoutprograms#show</h1>
<p>Find me in app/views/workoutprograms/show.html.erb</p>
<p>Exercise:</p>
<p><%= @workout.exercise %></p>
<p>Methode:</p>
<p><%= @workout.training_method %></p>
<p>Niveau:</p>
<p><%= @workout.level %></p>
<p>Repetitions:</p>
<p><%= @workout.repetition %></p>
<p>Temps de récuperation:</p>
<p><%= @workout.recuperation %></p>
