<section class="py-0" id="page-shop" data-zanim-xs='{"delay":0.4,"animation":"zoom-out"}' data-zanim-trigger="scroll">

  <div class="bg-holder" style="background-image:url(<%= image_path 'user-dash-background.png' %>);"></div>

  <div class="container">
    <div class="row">
      <div class="col-9 pt-11 pb-5">
          <%= image_tag("argo-logo.png", class: "logodash", alt: "logo officiel d'argo athletic")%>  
      </div>
    </div>
  </div>
</section>
    <div class="fancy-tab">
	<div class="nav-bar nav-bar-center">
		<div class="nav-bar-item active"><span class="fas fa-home fs-2"></span><br>Home</div>
		<div class="nav-bar-item"><span class="fas fa-user fs-2"></span><br>Profil</div>
	</div>

	<div class="tab-contents">
		<div class="tab-content active">

    <div class="container special-flex-container">
    <div class="col-6">
      <div class="card content-align-center">
       <div data-zanim-xs='{"delay":0.1,"animation":"zoom-in"}'>
        <%= image_tag 'jump-dash-user.png', 
            class: "rounded-soft img-fluid",
            alt: "homme qui saute"
        %>
        </div>
        <div class="card-body text-center">
          <h5 class="card-title">VOTRE PROGRAMME</h5>
              <p data-zanim-xs='{"delay":0.3}'>Créer ton programme personnalisé et améliore ta préparation physique</p>
                <%if current_user.sub_id.present?%>
                    <% if @exist_program == true %>
                      <%= link_to "voir mon Programme", workout_programs_path, class:"btn btn-danger btn-sm mb-3"%>
                      <%= link_to "Suprimer  Programme", workout_program_path, method: 'delete', class:"btn btn-dark btn-sm"%>
                    <% else %>
                      <%if current_user.profile.sport_role.nil? && current_user.profile.level.nil? %>
                        <div><%= link_to "Créer mon Programme", edit_user_profile_path(id: @profile, user_id: @id),autofocus:"true", class:"btn btn-danger btn-sm"%></div><br>
                      <%else%>
                        <div><%= link_to "Créer mon Programme", new_workout_program_path, autofocus:"true", class:"btn btn-danger btn-sm"%></div><br>
                      <%end%>
                    <%end%>
                <%else%>
                  <div> <%= link_to "S'abonner pour créer mon programmme", success_charges_path, autofocus:"true", class:"btn btn-danger btn-sm"%></div><br>
                <%end%>
        </div>
        <div class="d2 text-center">
          <small class="text-muted">Last updated 3 mins ago</small>
        </div>  </div>
      </div>
      

    </div>

		</div>
		<div class="tab-content">
    <div class="container mb-4">
      <div class="row mb-4">

            <div class="col-sm-8">
            <div class="card">
              <div class="d3">
              <p class="titred3">PROFILE SPORT</p>
              </div>
              <div class="card-body">
                <p>Sport :
                <%unless current_user.profile.sport.nil?%>
                <%=current_user.profile.sport.humanize %>
                <%else%>
                <span class="font-italic"><%= link_to "Renseigner votre profil", edit_user_profile_path(id: @profile, user_id: @id)%>
</span>
                <%end%>
                </p>

                <p>Poste :
                <%unless current_user.profile.sport_role.nil?%>
                <%=current_user.profile.sport_role.humanize %>
                <%else%>
                <span class="font-italic"><%= link_to "Renseigner votre profil", edit_user_profile_path(id: @profile, user_id: @id)%>
</span>
                <%end%>
                </p>


                <p>Taille :
                <%unless current_user.profile.height.nil?%>
                <%=current_user.profile.height%> cm
                <%else%>
                <span class="font-italic"><%= link_to "Renseigner votre profil", edit_user_profile_path(id: @profile, user_id: @id)%>
</span>
                <%end%>
                </p>

                <p>Poids :
                <%unless current_user.profile.weight.nil?%>
                <%=current_user.profile.weight%> kg
                <%else%>
                <span class="font-italic"><%= link_to "Renseigner votre profil", edit_user_profile_path(id: @profile, user_id: @id)%>
</span>
                <%end%>
                </p>

                <p>Niveau :
                <%unless current_user.profile.level.nil?%>
                <%=current_user.profile.level.humanize %>
                <%else%>
                <span class="font-italic"><%= link_to "Renseigner votre profil", edit_user_profile_path(id: @profile, user_id: @id)%>
</span>
                <%end%>
                </p>

              </div>
            </div>
          </div>

          <div class="col-sm-4">
            <div class="card" style="width: 18rem;">
              <div class="d3">
                <p class="titred4">COMPTE UTILISATEUR</p>
              </div>
              <div class="card-body text-center">
                <p>Email : <%=current_user.email%></p>
                <p>Inscription : <%=current_user.created_at.to_date%>
                <p>Abonnement : 
                <%if current_user.sub_id.present?%>
                Oui
               <p>Date de souscription :
                <%= customer_subscription_time%>
                </p>
                <%else%>
                Non
                <%end%>
                <br>
                <br>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm">

            <div class="card" style="width: 18rem;">
              <div class="d3">
                <p class="titred4">EDITER PROFIL SPORT</p>
              </div>
              <div class="card-body text-center">
                <%= link_to "Modifier son profil sport", edit_user_profile_path(id: @profile, user_id: @id), class:"btn btn-danger btn-sm"%>
              </div>
            </div>

          </div>
          <div class="col-sm">
          
            <div class="card" style="width: 18rem;">
              <div class="d3">
                <p class="titred4">EDITER COMPTE UTILISATEUR</p>
              </div>
              <div class="card-body text-center">
                <%= link_to "Modifier son compte utilisateur", edit_user_registration_path, class:"btn btn-danger btn-sm"%>
              </div>
            </div>
          
          </div>
          <div class="col-sm">

            <div class="card" style="width: 18rem;">
              <div class="d3">
                <p class="titred4">DECONNEXION</p>
              </div>
              <div class="card-body text-center">
                <%= link_to "Déconnexion", destroy_admin_session_path, method: 'delete', class:"btn btn-danger btn-sm"%>
              </div>
            </div>
          
          </div>
        </div>
      </div>
    </div>
	</div>
</div>







