<h2>Importer les CSV</h2>
<br>

<h5>Import Sport</h5>
<%if Sport.all.empty?%>
  <%= link_to "Import", import_sports_path, class:"text-900 font-weight-bold ml-1 btn btn-primary text-white ", method: :post%>
<%else%>
  <p>Le tableau sports est déjà importé.</p>
<%end%>

<h5>Import Sport Role</h5>
<%if SportRole.all.empty?%>
  <%= link_to "Import", import_sport_roles_path, class:"text-900 font-weight-bold ml-1 btn btn-primary text-white ", method: :post%>
<%else%>
  <p>Le tableau sport_roles est déjà importé.</p>
<%end%>

<h5>Import Quality</h5>
<%if Quality.all.empty?%>
  <%= link_to "Import", import_qualities_path, class:"text-900 font-weight-bold ml-1 btn btn-primary text-white ", method: :post%>
<%else%>
  <p>Le tableau qualities est déjà importé.</p>
<%end%>

<h5>Import Capacity</h5>
<%if Capacity.all.empty?%>
  <%= link_to "Import", import_capacities_path, class:"text-900 font-weight-bold ml-1 btn btn-primary text-white ", method: :post%>
<%else%>
  <p>Le tableau capacities est déjà importé.</p>
<%end%>

<h5>Import Muscular Group</h5>
<%if MuscularGroup.all.empty?%>
  <%= link_to "Import", import_muscular_groups_path, class:"text-900 font-weight-bold ml-1 btn btn-primary text-white ", method: :post%>
<%else%>
  <p>Le tableau muscular_groups est déjà importé.</p>
<%end%>

<h5>Import Training Method</h5>
<%if TrainingMethod.all.empty?%>
  <%= link_to "Import", import_training_methods_path, class:"text-900 font-weight-bold ml-1 btn btn-primary text-white ", method: :post%>
<%else%>
  <p>Le tableau training_methods est déjà importé.</p>
<%end%>

<h5>Import Exercice</h5>
<%if Exercise.all.empty?%>
  <%= link_to "Import", import_exercises_path, class:"text-900 font-weight-bold ml-1 btn btn-primary text-white ", method: :post%>
<%else%>
  <p>Le tableau exercises est déjà importé.</p>
<%end%>

<h5>Import Intensity</h5>
<%if Intensity.all.empty?%>
  <%= link_to "Import", import_intensities_path, class:"text-900 font-weight-bold ml-1 btn btn-primary text-white ", method: :post%>
<%else%>
  <p>Le tableau intensities est déjà importé.</p>
<%end%>

<h5>Import Level</h5>
<%if Level.all.empty?%>
  <%= link_to "Import", import_levels_path, class:"text-900 font-weight-bold ml-1 btn btn-primary text-white ", method: :post%>
<%else%>
  <p>Le tableau levels est déjà importé.</p>
<%end%>


<h5>Import Extype</h5>
<%if Extype.all.empty?%>
  <%= link_to "Import", import_extypes_path, class:"text-900 font-weight-bold ml-1 btn btn-primary text-white ", method: :post%>
<%else%>
  <p>Le tableau extypes est déjà importé.</p>
<%end%>

<h5>Import Muscle</h5>
<%if Muscle.all.empty?%>
  <%= link_to "Import", import_muscles_path, class:"text-900 font-weight-bold ml-1 btn btn-primary text-white ", method: :post%>
<%else%>
  <p>Le tableau muscles est déjà importé.</p>
<%end%>

<h5>Import Variant</h5>
<%if Variant.all.empty?%>
  <%= link_to "Import", import_variants_path, class:"text-900 font-weight-bold ml-1 btn btn-primary text-white ", method: :post%>
<%else%>
  <p>Le tableau variants est déjà importé.</p>
<%end%>


<h5>Import JT Role Muscular Group Capacity</h5>
<%if RolesMuscularGroupCapacity.all.empty?%>
  <%= link_to "Import", import_roles_muscular_group_capacities_path, class:"text-900 font-weight-bold ml-1 btn btn-primary text-white ", method: :post%>
<%else%>
  <p>Le tableau import_roles_muscular_group_capacities est déjà importé.</p>
<%end%>

