  <h1 class="hidden">
    <%= title 'Accueil' %>
  </h1>
  <!-- main -->
  <main class="main min-vh-100" id="top">
    <!-- section landing-header -->
    <section class="py-0" id="landing-features">
      <div class="container-fluid">
        <div class="row" data-zanim-timeline="{}" data-zanim-trigger="scroll">
          <div class="col-lg-6 px-0">
            <div class="h-100 py-9" data-zanim-lg='{"animation":"slide-right","from":{"opacity":1},"delay":0.4}' data-zanim-trigger="scroll">
              <!-- first background image -->
              <div class="bg-holder"
                   data-zanim-trigger="scroll" data-zanim-lg='{"animation":"slide-right","delay":0}'
                   style="background-image: url(<%= image_path 'https://images.pexels.com/photos/841130/pexels-photo-841130.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260' %>)">
              </div>
            </div>
          </div>
          <!-- presentation of the title of the application -->
          <div class="col-lg-6">
            <div class="row align-items-center justify-content-center py-6 py-md-8">
              <div class="col-11 col-sm-10">
                <div class="overflow-hidden">
                  <!-- title of the application -->
                  <h2 class="font-weight-light text-uppercase fs-3 fs-lg-4" data-zanim-lg='{"delay":0.4}'>
                    Argo Athletic
                  </h2>  
                  <h3 class="font-weight-black" data-zanim-lg='{"delay":0.4}' > 
                    Au cœur du sport
                  </h3>
                </div>
                <!-- presentation of the description of the application -->
                <div class="overflow-hidden">
                  <!-- description of the application -->
                  <p class="lead text-sans-serif font-weight-normal pr-xl-9 mt-4 text-500" data-zanim-lg='{"delay":0.5}'>
                    Compétiteur amateur, Argo Athletic est fait pour toi ! 
                  </p>
                  <p class="lead text-sans-serif font-weight-normal pr-xl-9 mt-4 text-500" data-zanim-lg='{"delay":0.5}'>
                    Argo Athletic te permet de parfaire ta préparation physique en te proposant des programmes d'entrainement personnalisés.
                  </p>
                </div>
                <% if !user_signed_in? %>
                  <!-- presentation of options of authentification -->
                  <div class="overflow-hidden">
                    <div class="mt-3 mt-lg-5" data-zanim-xs='{"delay":0.6}'>
                      <!-- sign up option -->
                      <%= button_to "Inscrivez-vous", new_user_registration_path, method: 'get', class:"btn btn-danger btn-lg"%>
                      <h6 class="font-weight-normal mt-2 text-500">
                        Déjà membre ?
                      </h6>
                      <!-- sign in option -->
                      <%= button_to "Connexion", new_user_session_path, method: 'get', class:"btn btn-danger d-inline btn-lg" %>
                    </div>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- section landing-singup -->
    <section class="text-center bg-light" id="landing-signup">
      <div class="container">
        <div class="row align-items-center justify-content-center">
          <div class="col-md-8" data-zanim-timeline="{}" data-zanim-trigger="scroll">
            <div class="overflow-hidden">
              <h4 class="font-weight-bold mb-3" data-zanim-xs='{"delay":0.2}'>
                Entrainement 100% personnalisé et adapté
              </h4>
            </div>
            <div class="overflow-hidden">
              <p class="lead text-sans-serif font-weight-normal text-500" data-zanim-xs='{"delay":0.3}'>
                Argo Athletic rend votre entrainement plus dynmique en vous offrant les programmes qui vous conviennent.
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- section landing-banner -->
    <section class="py-0 overflow-hidden" id="landing-banner">
      <div class="container-fluid">
        <div class="row">
          <div class="col px-3" data-zanim-timeline="{}" data-zanim-trigger="scroll">
            <div class="position-relative overflow-hidden rounded">
              <!-- second background image -->
              <div class="bg-holder overlay parallax rounded"
                   data-zanim-trigger="scroll" data-rellax-percentage="0.5"
                   style="background-image: url(<%= image_path 'https://images.pexels.com/photos/414029/pexels-photo-414029.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260' %>)"
              >
              </div>
              <!-- promoting the app and remind for sign up -->
              <div class="position-relative py-11 px-3 px-lg-9">
                <h1 class="text-white fs-2 fs-sm-4 fs-md-5 parallax display-4" data-rellax-percentage="0.5" data-rellax-speed="2">
                  <span class="d-block overflow-hidden">
                    <span class="d-inline-block" data-zanim-xs='{"delay":0.1}'>
                      Entrainez-vous
                    </span>
                  </span>
                  <span class="d-block overflow-hidden">
                    <span class="d-inline-block" data-zanim-xs='{"delay":0.2}'>
                      tous les jours avec
                    </span>
                  </span>
                  <span class="d-block overflow-hidden">
                    <span class="d-inline-block" data-zanim-xs='{"delay":0.3}'>
                      Argo Athletic
                    </span>
                    <!-- secondary button for sign up -->
                    <div>
                      <%= button_to "Inscrivez-vous", new_user_registration_path, method: 'get', class:"btn btn-danger btn-lg "%>
                    </div>
                  </span>
                </h1>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- section landing-features-1 -->
    <!-- third background image -->
    <section  class="overflow-hidden bg-light" 
              id="landing-features-1"
              style="background-image:url(<%= image_path 'https://images.pexels.com/photos/401896/pexels-photo-401896.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260)'%>) 
    >
      <div class="container">
        <div class="row align-items-center">
          <div class="col-md-7">
            <div class="row bg-white rounded py-7 py-xl-9 px-5 px-md-0 text-sans-serif">
              <div class="col-md-9 col-lg-6 offset-md-1 offset-lg-2" data-zanim-timeline="{}" data-zanim-trigger="scroll">
                <div class="overflow-hidden">
                  <h4 class="mb-sm-1 mb-md-2" data-zanim-xs='{"delay":0.1}'>
                    Rejoins nous
                  </h4>
                </div>
                <div class="overflow-hidden">
                  <p class="mb-4 mb-lg-6" data-zanim-xs='{"delay":0.2}'>
                    Connecte toi et laisse Argo te guider pour ton entrainement.
                  </p>
                </div>
                <div class="overflow-hidden">
                  <h4 class="mb-sm-1 mb-md-2" data-zanim-xs='{"delay":0.4}'>
                    Partage ton expérience
                  </h4>
                </div>
                <div class="overflow-hidden">
                  <p class="mb-4 mb-lg-6" data-zanim-xs='{"delay":0.5}'>
                    Connecte toi avec des milliers de compétiteurs et rejoins la communauté Argo.
                  </p>
                </div>
                <div class="overflow-hidden">
                  <h4 class="mb-sm-1 mb-md-2" data-zanim-xs='{"delay":0.7}'>
                    Conseils
                  </h4>
                </div>
                <div class="overflow-hidden">
                  <p class="mb-0" data-zanim-xs='{"delay":0.8}'>
                    Argo vous accompagne lors de vos entrainements et ne tachera de vous donner les meilleurs conseils.
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="position-md-absolute r-0 t-0 parallax w-md-50" data-rellax-speed="5" data-rellax-percentage="0.5">
            <!-- image to show push ups -->
            <%= image_tag 'https://images.pexels.com/photos/4162495/pexels-photo-4162495.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260', 
                class: "shadow-lg rounded img-fluid" 
            %>
          </div>
        </div>
      </div>
    </section>
    <!-- section landing-features -->
    <section class="py-3" id="landing-features">
      <div class="container-fluid">
        <div class="row" data-zanim-timeline="{}" data-zanim-trigger="scroll">
          <!-- first card -->
          <div class="col-lg-6 col-xl-3 mt-3 mt-xl-0 pr-lg-2" data-zanim-xs='{"delay":0.1,"animation":"zoom-in"}'>
            <div class="hoverbox min-vh-50 h-100 py-6">
              <!-- fourth background image -->
              <div class="bg-holder rounded"
                   style="background-image: url(<%= image_path 'https://images.pexels.com/photos/3818834/pexels-photo-3818834.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260' %>)"
              >
              </div>
              <div class="hoverbox-content d-flex bg-black justify-content-center rounded">
                <div class="align-self-center px-4 px-lg-6 text-center">
                  <span class="fa fa-signal text-white fs-2 mb-2">
                  </span>
                  <h4 class="mb-1 text-white">
                    Programmes &amp; personnalisés
                  </h4>
                  <p class="px-3 text-sans-serif text-500">
                    Argo Athletic vous propose un programme rien que pour vous.
                  </p>
                  <div>
                    <%= button_to "Inscription", new_user_registration_path, method: 'get', class:"btn btn-danger" %>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- second card -->
          <div class="col-lg-6 col-xl-3 mt-3 mt-xl-0 px-xl-2 pl-lg-2" data-zanim-xs='{"delay":0.1,"animation":"zoom-in"}'>
            <div class="position-relative hoverbox min-vh-50 h-100">
              <!-- fifth background image -->
              <div class="bg-holder rounded"
                 style="background-image: url(<%= image_path 'https://images.pexels.com/photos/4162593/pexels-photo-4162593.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260' %>)"
              >
              </div>
              <div class="hoverbox-content d-flex bg-black justify-content-center rounded">
                <div class="align-self-center px-4 px-lg-6 text-center">
                  <span class="fa fa-signal text-white fs-2 mb-2">
                  </span>
                  <h4 class="mb-1 text-white">
                    Programmes &amp; personnalisés
                  </h4>
                  <p class="px-3 text-sans-serif text-500">
                    Argo Athletic vous propose un programme rien que pour vous.
                  </p>
                  <div>
                    <%= button_to "Inscription", new_user_registration_path, method: 'get', class:"btn btn-danger" %>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- third card -->
          <div class="col-lg-6 col-xl-3 mt-3 mt-xl-0 px-xl-2 pr-lg-2" data-zanim-xs='{"delay":0.3,"animation":"zoom-in"}'>
            <div class="position-relative hoverbox min-vh-50 h-100 py-6 d-flex justify-content-center">
              <!-- sixth background image -->
              <div class="bg-holder rounded"
                 style="background-image: url(<%= image_path 'https://images.pexels.com/photos/3772226/pexels-photo-3772226.jpeg?cs=srgb&dl=pexels-sergio-souza-3772226.jpg&fm=jpg' %>)"
              >
              </div>
              <div class="hoverbox-content d-flex bg-black justify-content-center rounded">
                <div class="align-self-center px-4 px-lg-6 text-center">
                  <span class="fa fa-signal text-white fs-2 mb-2">
                  </span>
                  <h4 class="mb-1 text-white">
                    Programmes &amp; personnalisés
                  </h4>
                  <p class="px-3 text-sans-serif text-500">
                    Argo Athletic vous propose un programme rien que pour vous.
                  </p>
                  <div>
                    <%= button_to "Inscription", new_user_registration_path, method: 'get', class:"btn btn-danger" %>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- fourth card -->
          <div class="col-lg-6 col-xl-3 mt-3 mt-xl-0 pl-lg-2" data-zanim-xs='{"delay":0.4,"animation":"zoom-in"}'>
            <div class="position-relative hoverbox min-vh-50 h-100 py-6">
              <!-- sixth background image -->
              <div class="bg-holder rounded"
                 style="background-image: url(<%= image_path 'https://images.pexels.com/photos/3817163/pexels-photo-3817163.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260' %>)"
              >
              </div>
              <div class="hoverbox-content d-flex bg-black justify-content-center rounded">
                <div class="align-self-center px-4 px-lg-6 text-center">
                  <span class="fa fa-signal text-white fs-2 mb-2">
                  </span>
                  <h4 class="mb-1 text-white">
                    Programmes &amp; personnalisés
                  </h4>
                  <p class="px-3 text-sans-serif text-500">
                    Argo Athletic vous propose un programme rien que pour vous.
                  </p>
                  <div>
                    <%= button_to "Inscription", new_user_registration_path, method: 'get', class:"btn btn-danger" %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- section landing-download -->
    <section class="py-8" id="landing-download">
      <div class="container">
        <div class="row align-items-center justify-content-center">
          <div class="col-md-7 text-center text-md-left">
            <h2 class="font-weight-light">
              Argo APP
              <span class="font-weight-black">
                bientot disponible sur
              </span> 
            </h2>
            <h4 class="font-weight-normal text-500">
            </h4>
          </div>
          <!-- app store and google play icons -->
          <div class="col-md-5 text-center mt-4 mt-md-0">
            <div>
              <span class="fab fa-apple mr-3" data-fa-transform="grow-8">
              </span>
              <div class="font-weight-black">
                app store
              </div>
            </div>
            <br>
            <br>
            <div>
              <span class="fab fa-google-play mr-3" data-fa-transform="grow-8">
              </span>
              <div class="font-weight-black">
                play store
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
