<h1 class="hidden">
  <%= title 'Base de données' %>
</h1>

<h1>
  Données de la base de données
</h1>

<h3>
  Données utilisateur et profil
</h3>

<table class="table mb-5">
  <thead>
    <tr>
      <th scope="col">
        #
      </th>
      <th scope="col">
        E-mail
      </th>
      <th scope="col">
        Date de naissance
      </th>
      <th scope="col">
        Taille
      </th>
      <th scope="col">
        Poids
      </th>
      <th scope="col">
        Crée à 
      </th>
      <th scope="col">
        Sport
      </th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <th scope="row">
          <%= @user.id %>
        </th>
        <td>
          <%= @user.email %>
        </td>
        <td>
          <%= @user.profile.date_of_birth %>
       </td>
       <td>
          <%= @user.profile.height %>
       </td>
       <td>
         <%= @user.profile.weight %>
       </td>
       <td>
         <%= @user.profile.created_at %>
       </td>
       <td>
        <%= @user.profile.sports %>
       </td>
      </tr>
     <% end %>
  </tbody>
</table>

<h3>
  Sport et Roles
</h3>
<table class="table mb-5">
  <thead>
    <tr>
      <th scope="col">
        #
      </th>
      <th scope="col">Name</th>
      <th scope="col">Team Sport</th>
      <th scope="col">Roles</th>
    </tr>
  </thead>
  <tbody>
    <% @sports.each do |sport| %>
      <tr>
        <th scope="row"><%= @user.id %></th>
        <td><%= sport.name %></td>
        <td><%= sport.team_sport %></td>
      </tr>
      <% sport.sport_roles.each do |role| %>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td><%= role.name %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<h3>Exercises by Role: <%= @role %> <%= @role_id %>& level:  Regular </h3>
<table class="table mb-5">
  <thead>
    <tr>
      <th scope="col">#Role_id</th>
      <th scope="col">Role</th>
      <th scope="col">Muscular Group</th>
      <th scope="col">Quality</th>
      <th scope="col">Capacity</th>
      <th scope="col">Training Method</th>
      <th scope="col">Exercise</th>
      <th scope="col">Muscle</th>
      <th scope="col">Variant</th>
      <th scope="col">Level</th>
      
    </tr>
  </thead>
  <tbody>
    <%# @rolesMuscularGroupCapacities.where(sport_role_id: @role_id).each do |data| %>
    <% @rolesMuscularGroupCapacities.where(sport_role_id: @role_id).where(muscular_group_id: @inferior_member_id).each do |data| %>
        <% @trainingmethods.where(capacity_id: data.capacity.id).each do |training| %>
          <% training.exercises.each do |ex| %>
            <% ex.muscles.where(muscular_group_id: @inferior_member_id).each do |muscle| %>
              <%# ex.variants.each do |variant| %>
                <% training.levels.where(id:1).each do |level| %>
                  <tr>
                    <th scope="row"><%= @role_id %></th>
                    <td><%= @role %></td>
                    <td><%= @musculargroups.find(data.muscular_group_id).name %></td>
                    <td><%= @capacities.find(data.capacity_id).quality.name %></td>
                    <td><%= @capacities.find(data.capacity_id).name %></td>
                    <td><%= training.name %></td>
                    <td><%= ex.name %></td>
                    <td><%= muscle.name %></td>
                    <td><%#= variant.name %></td>
                    <td><%= level.name %></td>
                  </tr>
                <% end %>
              <%# end %>
            <% end %>
          <% end %>
      <% end %>
    <% end %>
  </tbody>
</table>

<h3>Training Method</h3>
<table class="table mb-5">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Capacity</th>
      <th scope="col">Quality</th>
      <th scope="col">Level</th>
    </tr>
  </thead>
  <tbody>
    <% @trainingmethods.each do |method| %>
      <tr>
        <th scope="row"><%= method.id %></th>
        <td><%= method.name %></td>
        <td><%= method.capacity.name %></td>
        <td><%= method.capacity.quality.name %></td>
        <td></td>
      </tr>
        <% method.levels.each do |level| %>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td><%= level.name %></td>
          </tr>
        <% end %>
    <% end %>
  </tbody>
</table>

<h3>Training Method Exercises</h3>
<table class="table mb-5">
  <thead>
    <tr>
      <th scope="col">Method id</th>
      <th scope="col">Method name</th>
      <th scope="col">Exercise</th>
    </tr>
  </thead>
  <tbody>
    <% @trainingmethodexercises.each do |methodex| %>
      <tr>
        <th scope="row"><%= methodex.id %></th>
        <td><%= methodex.training_method.name %></td>
        <td><%= methodex.exercise.name %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<h3>Exercises Variants</h3>
<table class="table mb-5">
  <thead>
    <tr>
      <th scope="col">Exercise</th>
      <th scope="col">Variant</th>
      <th scope="col">Type</th>
    </tr>
  </thead>
  <tbody>
    <% @exercisevariants.each do |exvariant| %>
      <tr>
        <th scope="row"><%= exvariant.exercise.name %></th>
        <td><%= exvariant.variant.name %></td>
        <td><%= exvariant.variant.extype.name %></td>
      </tr>
    <% end %>
  </tbody>
</table>


<h3>Training Method Intensities</h3>
<table class="table mb-5">
  <thead>
    <tr>
      <th scope="col">Method id</th>
      <th scope="col">Method</th>
      <th scope="col">Intensity</th>
    </tr>
  </thead>
  <tbody>
    <% @trainingmethodintensities.each do |methodintensity| %>
      <tr>
        <th scope="row"><%= methodintensity.id %></th>
        <td><%= methodintensity.training_method.name %></td>
        <td><%= methodintensity.intensity.name %></td>
      </tr>
    <% end %>
  </tbody>
</table>