<%= render "layouts/jumbotron" %>


<!-- Team -->
<section id="team" class="pb-5">
    <div class="container">
        <div class="row">
            
            <!-- Team member -->
            <div class="col-3">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <%= image_tag("kevin.png", class: "img-fluid") %>
                                    <h4 class="card-title">Kevin</h4>
                                    <br class="card-text">Ne perdez pas de temps, soyez toujours occupé à quelque chose d'utile. Supprimez tout ce qui n'est pas nécessaire.</p>
                                    <span class="btn btn-danger btn-sm"><i class="fa fa-plus"></i></span>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-4">
                                    <h4 class="card-title">CEO - Dev Full Stack</h4>
                                    <p class="card-text">Developpeur Full Stack Ruby, Ruby on Rails, Javascript.</p>
                                    <ul class="list-inline">
                                        <li class="list-inline-item">
                                            <%= link_to 'https://github.com/bakbledy93', target:'blank' do %>
                                                <i class="fab fa-github"></i>
                                            <% end %>
                                        </li>
                                        <li class="list-inline-item">
                                            <%= link_to 'https://linkedin.com/in/kphim', target:'blank' do %>
                                                <i class="fab fa-linkedin"></i>
                                            <% end %>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ./Team member -->
            <!-- Team member -->
            <div class="col-3">
                <div class="image-flip" ontouchstart="this.classList.toggle('hoSunlimetechver');">
                    <div class="mainflip">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <%= image_tag("jjm_avatar.png", class: "img-fluid") %>
                                    <h4 class="card-title">Juan</h4>
                                    <br class="card-text">Que l'on me donne six heures pour couper un arbre, j'en passerai quatre à préparer ma hache.</p>
                                    <span class="btn btn-danger btn-sm"><i class="fa fa-plus"></i></span>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-4">
                                    <h4 class="card-title">Dev Full Stack</h4>
                                    <p class="card-text">Developpeur Full Stack Ruby, Ruby on Rails, Javascript</p>
                                    <ul class="list-inline">
                                        <li class="list-inline-item">
                                            <%= link_to 'https://www.facebook.com/juanjose.morasanchez', target:'blank' do %>
                                                <i class="fab fa-facebook-f"></i>
                                            <% end %>
                                        </li>
                                        <li class="list-inline-item">
                                            <%= link_to 'https://github.com/jjmora', target:'blank' do %>
                                                <i class="fab fa-github"></i>
                                            <% end %>
                                        </li>
                                        <li class="list-inline-item">
                                            <%= link_to 'https://www.linkedin.com/in/jjmorasanchez', target:'blank' do %>
                                                <i class="fab fa-linkedin"></i>
                                            <% end %>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ./Team member -->
            <!-- Team member -->
            <div class="col-3">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <%= image_tag("sami-avatar.png", class: "img-fluid") %>
                                    <h4 class="card-title">Sami</h4>
                                    <br class="card-text">Qui veut faire de grandes choses doit penser profondément aux détails.</p>
                                    <span class="btn btn-danger btn-sm"><i class="fa fa-plus"></i></span>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-4">
                                    <h4 class="card-title">Dev Full Stack</h4>
                                    <p class="card-text">Developpeur Full Stack Ruby, Ruby on Rails, Javascript</p>
                                    <ul class="list-inline">
                                        <li class="list-inline-item">
                                            <%= link_to 'https://github.com/samielatri', target:'blank' do %>
                                                <i class="fab fa-github"></i>
                                            <% end %>
                                        </li>
                                        <li class="list-inline-item">
                                            <%= link_to 'https://www.linkedin.com/in/samielatri', target:'blank' do %>
                                                <i class="fab fa-linkedin"></i>
                                            <% end %>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ./Team member -->
                        <!-- Team member -->
            <div class="col-3">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <%= image_tag("david.png", class: "img-fluid") %>
                                    <h4 class="card-title">David</h4>
                                    <br class="card-text">S’il y a un problème, il y a une solution. S’il n’y a pas de solution, c’est qu’il n’y a pas de problème</p>
                                    <span class="btn btn-danger btn-sm"><i class="fa fa-plus"></i></span>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-4">
                                    <h4 class="card-title">Dev Full Stack</h4>
                                    <p class="card-text">Developpeur Full Stack Ruby, Ruby on Rails, Javascript</p>
                                    <ul class="list-inline">
                                        <li class="list-inline-item">
                                            <%= link_to 'https://www.facebook.com/dvdberaud', target:'blank' do %>
                                                <i class="fab fa-facebook-f"></i>
                                            <% end %>
                                        </li>
                                        
                                         <li class="list-inline-item">
                                            <%= link_to 'https://twitter.com/arlyorevelateur', target:'blank' do %>
                                                <i class="fab fa-twitter"></i>
                                            <% end %>
                                        </li>
                                          <li class="list-inline-item">
                                            <%= link_to 'https://github.com/DavidBeraud', target:'blank' do %>
                                                <i class="fab fa-github"></i>
                                            <% end %>
                                        </li>
                                        <li class="list-inline-item">
                                            <%= link_to 'https://www.linkedin.com/in/dberaud-entrepreneur/', target:'blank' do %>
                                                <i class="fab fa-linkedin"></i>
                                            <% end %>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ./Team member -->
            

        </div>
    </div>
</section>
<!-- Team -->