<!-- title shown on tab -->
<h1 class="hidden">
  <%= title 'Connexion' %>
</h1>
<!-- sign in form -->
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <section class="py-0" id="page-signin">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-6 px-0">
          <div class="sticky-top vh-lg-100 py-9">
            <div class="bg-holder"
               data-zanim-trigger="scroll"
               data-zanim-lg='{"animation":"zoom-out-slide-right"}'
               style="background-image: url(<%= image_path 'sign-in-image.jpg' %>)"
            >
            </div>
          </div>
        </div>
        <div class="col-lg-6 bg-white py-6">
          <div class="row h-100 align-items-center justify-content-center">
            <div class="col-sm-8 col-md-6 col-lg-10 col-xl-8"
                 data-zanim-xs='{"animation":"slide-right"}'
                 data-zanim-trigger="scroll"
            >
            <h1 class="display-4 fs-2 center">
              Argo Athletic
            </h1>
            <h6 class="text-danger mt-3">
              Spécialement conçue pour les compétieurs pour leur préparation physique.
            </h6>
            <div class="mt-5">
              <div class="form-group">
                <div class="field <% if resource.errors[:email].present? %>error<% end %>">
                  <%= f.label :email, "E-mail" %><em class="required-label">*</em>
                  <%= f.email_field :email, class:"form-control border-300 bg-light", autofocus: true, placeholder: 'e-mail', pattern: '[^@]+@[^@]+\.[a-zA-Z]{2,6}', required: true %> 
                </div>
              <div class="form-group">
                <div class="field <% if resource.errors[:password].present? %>error<% end %>">
                  <%= f.label :password, "Mot de passe" %><em class="required-label">*</em>                
                  <%= f.password_field :password, class:"form-control border-300 bg-light", placeholder: 'mot de passe', required: true %> 
              </div>
              <div class="form-group">
                <%= f.submit :"Connexion", class:"btn btn-dark btn-block mt-3" %> 
              </div>
            </div>
            <!-- links to other forms -->
            <%= render "devise/shared/links" %>
          </div>
        </div>
      </div>
    </div>
  </section>
<% end %>
