 <section class="py-0" id="page-shop" data-zanim-xs='{"delay":0.4,"animation":"zoom-out"}' data-zanim-trigger="scroll">

  <div class="bg-holder" style="background-image:url(https://images.pexels.com/photos/4429141/pexels-photo-4429141.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260);"></div>

  <div class="container">
    <div class="row">
      <div class="col-9 pt-11 pb-5">
          <%= image_tag("argo-logo.png", class: "logodash", alt: "logo officiel d'argo athletic")%>  
      </div>
    </div>
  </div>
</section>

<div class="container">
  <h1 class="mt-5">Workout Programs</h1>
  <br>
  <div class="table-responsive mt-3">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Jour</th>
          <th>Exercice 1</th>
          <th>Variant</th>
          <th>Exercice 2</th>
          <th>Variant</th>
          <th>Exercice 3</th>
          <th>Variant</th>
        </tr>
      </thead>
      <tbody>
          <tr>
            <td><%= link_to "Jour 1", workout_program_path(program_id: @ex1, id: @ex1, day: 1), class:"btn btn-sm btn-dark mt-3"%></td>
            <td><%= @program1[0] %></td>
            <td><%= @variant1[0] %></td>

            <td><%= @program1[1] %></td>
            <td><%= @variant1[1] %></td>

            <td><%= @program1[2] %></td>
            <td><%= @variant1[2] %></td>
          </tr>
          <tr>
            <td><%= link_to "Jour 2", workout_program_path(program_id: @ex2, id: @ex2, day: 1), class:"btn btn-sm btn-dark mt-3"%></td>
            <td><%= @program2[0] %></td>
            <td><%= @variant2[0] %></td>

            <td><%= @program2[1] %></td>
            <td><%= @variant2[1] %></td>

            <td><%= @program2[2] %></td>
            <td><%= @variant2[2] %></td>
          </tr>
          <tr>
            <td><%= link_to "Jour 3", workout_program_path(program_id: @ex3, id: @ex3, day: 1), class:"btn btn-sm btn-dark mt-3"%></td>
            <td><%= @program3[0] %></td>
            <td><%= @variant3[0] %></td>

            <td><%= @program3[1] %></td>
            <td><%= @variant3[1] %></td>

            <td><%= @program3[2] %></td>
            <td><%= @variant3[2] %></td>
          </tr>
      </tbody>
    </table>
    <br>
    <%= link_to "Dashboard", user_path(current_user.id), class:"btn btn-outline-dark mb-5" %>
  </div>
</div>
