<%= form_with(model: @workout_program, local:true, class:"mt-5") do |form| %>
        <%= form.hidden_field :profile_id, value: @profile_id.to_i %>
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-6 px-0">
            <div class="sticky-top vh-lg-100 py-9">
              <div class="bg-holder" 
                   style="background-image:url(<%= image_path 'https://images.pexels.com/photos/186076/pexels-photo-186076.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260' %>)" 
                   data-zanim-trigger="scroll"
                   data-zanim-lg='{"animation":"zoom-out-slide-right"}'
              ></div>
            </div>
          </div>
          <div class="col-lg-6 bg-white py-6">
            <div class="row h-100 align-items-center justify-content-center">
              <div class="col-sm-8 col-md-6 col-lg-10 col-xl-8"
                   data-zanim-xs='{"animation":"slide-right"}'
                   data-zanim-trigger="scroll"
              >
                <h3 class="display-4 fs-2">
                  Parfait pour les compétiteurs amateurs,
                  <br/>professionnels &amp; autres sportifs.
                </h3>
                <h6 class="text-danger mt-3">
                  Spécialement conçue pour les compétieurs pour leur préparation physique.
                </h6>
              <form class="mt-5">
                <h5>Vous allez créer votre programme d'entrainement avec les données: </h5>
                <h4>Niveau</h4>
                <h5><%= @level %></h5>

                <h4>Sport</h4>
                <h5><%= @sport %></h5>

                <h4>Role</h4>
                <h5><%= @role%></h5>

                <%# Form data %>

                <%= form.hidden_field :training_method, value: @training_methods.sample.name %>
                <%= form.hidden_field :exercise, value: @exercises_arr %>
                <%= form.hidden_field :level, value:  @level %>
                <%= form.hidden_field :repetition, value: @repetitions %>
                <%= form.hidden_field :recuperation, value: @recuperation %>
                <%= form.hidden_field :profile_id, value: @profile.id %>
                <%= form.hidden_field :serie, value: @serie %>
                <%= form.hidden_field :variant, value: @variants_arr %>
  <%= @exercises_arr%>
  <%= @variants_arr%>
                    <p>
                      <h5>Level: </h5>
                      
                    </p>
                    <h5>
                      <b>Training Method: </b>
                      <p><%#= @training_methods.sample.name %></p>
                    </h5>
                    
                    <h5>
                      <b>* Exercises : </b>
                      <p><%= @exercises_arr %></p>
                    </h5>

                    <h5>
                      <b>* Level : </b>
                      <p><%= @levels_name_arr %></p>
                      
                    </h5>
                    
                    
                    
                    <h5>
                      <b>* Variants : </b>
                    </h5>

                    <%# /Form data %>


                <div class="row mb-4">
                  <div class="col">Exercice
                <%#= form.select :exercise, @exercises_name_arr, 
                        class:"form-control border-300 bg-light",
                        autofocus: true                     
                    %> 
                  </div>
                </div>
                <div class="row mb-4">
                  <div class="col">Training Method
                    <%#= form.select :training_method, @training_methods_name_arr,
                        class:"form-control border-300 bg-light",
                        placeholder: "Training" 
                    %> 
                  </div>
                  <div class="col">Level
                    <%#= form.select :level, @levels_name_arr,
                        class:"form-control border-300 bg-light",
                        placeholder: "Level"
                    %>
                  </div>
                </div>  
                <div class="row mb-4 align-items-center">
                  <div class="col-auto">
                  <%= form.submit 'New Program',
                        class:"btn btn-dark btn-block mt-3",
                        autofocus: true 
                    %>                      
                  </div>
                  <div class="col-sm">
                    <p class="fs--1 text-700 mb-0 text-sans-serif mt-2 mt-lg-0">
                      En validant votre compte, vous acceptez nos conditions d&rsquo;utilisation.
                    </p>
                       <% end %>
                  </div>
                </div>
             
              </form>
            </div>
          </div>
        </div>
      </div>
      </div>

