<div class="container-fluid">
  <div class="row">
    <div class="col-lg-6 px-0">
      <div class="sticky-top vh-lg-100 py-9">
        <div class="bg-holder" 
              style="background-image:url(<%= image_path 'https://images.pexels.com/photos/186076/pexels-photo-186076.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260' %>)" 
              data-zanim-trigger="scroll"
              data-zanim-lg='{"animation":"zoom-out-slide-right"}'
        ></div>
      </div>
    </div>
    <div class="col-lg-6 bg-white py-6">
      <div class="row h-100 align-items-center justify-content-center">
        <div class="col-sm-8 col-md-6 col-lg-10 col-xl-8"
              data-zanim-xs='{"animation":"slide-right"}'
            data-zanim-trigger="scroll"
        >
          <h2 class="fs-2 text-center">
            Créez votre programme personalisée
          </h2>
        
          <h5 class="text-center mb-5">Vous allez créer votre programme d'entrainement avec les données: </h5>
          <div class="ml-5">
            <h4>Niveau: </h4>
            <h5 class="ml-5"><%= @level %></h5>

            <h4>Sport:</h4>
            <h5 class="ml-5"><%= @sport %></h5>

            <h4>Role:</h4>
            <h5 class="ml-5"><%= @role%></h5>
          </div>
          <%= button_to "Creation de Programme", workout_programs_path, method: 'post', class:"btn btn-dark btn-block mt-5"%>
        </div>
      </div>
    </div>
  </div>
</div>            