<h1 class="hidden">
  <%= title 'Carte Programme' %>
</h1>
<h1>WorkoutPrograms#show</h1>
<p>Find me in app/views/workout_programs/show.html.erb</p>
<p>ID: <%= @workout_program.id %></p>
<p>Exercise: <%= @workout_program.exercise %></p>
<p>Training Method: <%= @workout_program.training_method %></p>
<p>Level: <%= @workout_program.level %></p>