<h1 class="hidden">
  <%= title 'Paramètres profil' %>
</h1>

<%= form_for @profile, url: user_profile_path do |f| %>
    <section class="py-0" id="page-signup">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-6 px-0">
            <div class="sticky-top vh-lg-100 py-9">
              <div class="bg-holder" 
                   style="background-image:url(<%= image_path 'sign-up-image.png' %>)" 
                   data-zanim-trigger="scroll"
                   data-zanim-lg='{"animation":"zoom-out-slide-right"}'
              ></div>
            </div>
          </div>
          <div class="col-lg-6 bg-white py-6 d">
            <div class="col h-100 align-items-center justify-content-center">
              <div class="col-sm-8 col-md-6 col-lg-10 col-xl-8"
                   data-zanim-xs='{"animation":"slide-right"}'
                   data-zanim-trigger="scroll"
              >
              <div class="card text-center border-light">
                <h2 class="display-4 fs-2 card-title">
                  Argo Athletic
                  <hr class="special-black-border striped-border">
                  Profil Sportif
                </h2>
                <h6 class="text-danger mt-3">
                  Renseigne ton profil pour obtenir un entraînement personalisé 
                </h6>
              </div>
              <form class="mt-5">
                <div class="row mb-4">
                  <div class="col">
                    <%= f.text_field :first_name,
                        class:"form-control border-300 bg-light",
                        autofocus: true,
                        placeholder: 'prénom' 
                      %> 
                    </div>
                  </div>

                  <div class="row mb-4">
                    <div class="col">
                      <%= f.text_field :last_name,
                          class:"form-control border-300 bg-light",
                          autofocus: true,
                          placeholder: 'nom' 
                      %> 
                    </div>
                  </div>
                  <div class="row mb-4">
                    <div class="col">date de naissance
                        <%= f.date_field :date_of_birth, as: :date, 
                          class:"form-control border-300 bg-light",
                          autofocus: true,
                          placeholder: 'date de naissance' 
                      %> 
                    </div>
                  </div>
                  <div class="row mb-4 flex">
                    <div class="col">Votre poids (kg)
                          <%= f.text_field :weight, 
                          class:"form-control border-300 bg-light",
                          placeholder: "Votre poids" 
                      %> 
                    </div>
                  </div>

                  <div class="row mb-4 flex">
                    <div class="col">Votre taille (cm)
                          <%= f.text_field :height, 
                          class:"form-control border-300 bg-light",
                          placeholder: "Votre poids" 
                      %> 
                    </div>
                  </div>

                  <p>Afin de générer votre programme, merci de renseigner ces informations</p>
                  <p>vous pourrez les modifier ultérieurement, en éditant votre profil </p>

                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <label class="input-group-text" for="inputGroupSelect01">Choix du sport</label>
                    </div>
                    <%= f.select :sport, @sports_array, 
                        class:"form-control border-300 bg-light btn",
                        placeholder: "Choix du poste"
                      %> 
                  </div>


                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <label class="input-group-text" for="inputGroupSelect01">Choix du poste</label>
                    </div>
                    <%= f.select :sport_role, @roles_array, 
                        class:"form-control border-300 bg-light btn",
                        placeholder: "Choix du poste"
                      %> 
                  </div>

                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <label class="input-group-text" for="inputGroupSelect01">Niveau</label>
                    </div>
                    <%= f.select :level, @levels_array, 
                        class:"form-control border-300 bg-light btn",
                        placeholder: "Choix du poste"
                      %> 
                  </div>

                  </div> 

                  <div class="row mb-4 align-items-center">
                    <div class="col-auto">
                      <%= f.submit :"Confirmer vos données",
                          class:"btn btn-dark btn-block mt-3",
                          autofocus: true 
                      %>   

                      <%= link_to "Aller au dashboard", user_path(current_user.id), class:"btn btn-outline-dark btn-block mt-3" %>            
                    </div>
                
                      </p>
                  </div>

                    
                  </div>

                </form>
              </div>
            </div>
            
            
          </div>
        </div>
      </div>
    </section>
<% end %>
