<!-- navbar -->
<nav class="fancynavbar" data-zanim-lg='{"from":{"opacity":1,"x":70},"to":{"opacity":1,"x":0},"ease":"CubicBezier"}' data-zanim-xs='{"from":{"opacity":1,"y":-43},"to":{"opacity":1,"y":0},"ease":"CubicBezier"}' data-zanim-trigger="scroll" data-exclusive="true">
  <div class="fancynavbar-togglerbar" data-onscroll-fade-in="data-onscroll-fade-in">
    <div class="fancynavbar-addon-item">
    </div>
    <div class="fancynavbar-toggler audioButton">
      <!-- hamburger svg -->
      <svg class="fancynavbar-toggler-icon" viewBox="0 0 70 70" xmlns="http://www.w3.org/2000/svg" data-zanim-lg='{"from":{"opacity":0,"x":45},"to":{"opacity":1,"x":0},"ease":"CubicBezier"}' data-zanim-trigger="scroll">
        <path id="path-top" d="M20,25c0,0,22,0,30,0c16,0,18.89,40.71-.15,21.75C38.7,35.65,19.9,16.8,19.9,16.8">
        </path>
        <path id="path-middle" d="M20,32h30">
        </path>
        <path id="path-bottom" d="M19.9,46.98c0,0,18.8-18.85,29.95-29.95C68.89-1.92,66,38.78,50,38.78c-8,0-30,0-30,0">
        </path>
      </svg>
    </div>
    <div class="fancynavbar-addon" data-zanim-lg='{"from":{"opacity":1,"x":45},"to":{"opacity":1,"x":0},"ease":"CubicBezier"}' data-zanim-trigger="scroll">
      <div>
        <span class="">
        </span>
      </div>
    </div>
    </div>
    <div class="fancynavbar-collapse audioButton">
      <div class="fancynavbar-nav">
          <div class="fancy-dropdown-menu">
            <!-- ok -->
            <div class="row pb-4 pt-3">
              <div class="col-sm-auto pr-4">
                <!-- dashboard -->
                <!-- user -->
                <% if user_signed_in? %>
                  <!-- dashboard -->
                  <%= link_to "Dashboard",
                      authenticated_user_root_path,
                      method: 'get',
                      class:"fancy-dropdown-item audioButton"
                  %>   
                <!-- admin -->
                <% elsif admin_signed_in? %>
                    <!-- dashboard -->
                    <%= link_to "Dashboard",
                        authenticated_admin_root_path,
                        method: 'get', class:"fancy-dropdown-item audioButton" 
                    %>
                <!-- visitor -->
                <% else %>
                    <!-- welcome page -->
                    <%= link_to "Accueil",
                        home_index_path,
                        method: 'get',
                        class: "fancy-dropdown-item audioButton" 
                    %>
                <% end %>
                <!-- options -->
                <!-- user -->
                <% if user_signed_in? %>
                  <!-- edit profile -->
                  <%= link_to "Paramètres profil",
                      edit_user_profile_path(id: current_user.profile.id, user_id: current_user.id),
                      method: 'get',
                      class:"fancy-dropdown-item audioButton"
                  %>
                  <!-- edit account -->
                  <%= link_to "Pramètres compte",
                      edit_user_registration_path,
                      method: 'get',
                      class:"fancy-dropdown-item audioButton"
                  %>
                <% end %>
              </div>
            </div>
            <div class="row pb-4 pt-3">
              <div class="col-sm-auto pr-4">
                <!-- static pagess common to all -->
                <!-- team -->
                <%= link_to "Team",
                    team_home_index_path,
                    method: 'get',
                    class:"fancy-dropdown-item audioButton"
                %>
                <!-- contact -->
                <%= link_to "Nous contacter",
                    contact_home_index_path,
                    method: 'get',
                    class:"fancy-dropdown-item audioButton"
                %>
              </div>
            </div>
            <!-- logging options -->
            <div class="row pb-4 pt-3">
              <div class="col-sm-auto pr-4">
                <!-- user -->
                <% if user_signed_in? %>
                  <!-- log out option -->
                  <%= link_to "Se déconnecter",
                      destroy_user_session_path,
                      method: 'delete',
                      class:"fancy-dropdown-item audioButton"
                  %>
                <!-- admin -->                  
                <% elsif admin_signed_in? %>
                  <!-- log out option -->
                  <%= link_to "Se déconnecter",
                      destroy_admin_session_path,
                      method: 'delete',
                      class:"fancy-dropdown-item audioButton" 
                  %>
                <!-- visitor -->
                <% else %>
                  <!-- sing up option -->
                  <%= link_to "S'inscrire",
                      new_user_registration_path,
                      method: 'get',
                      class: "fancy-dropdown-item audioButton" 
                  %>
                  <!-- log in option -->
                  <%= link_to "Se connecter",
                      new_user_session_path,
                      method: 'get',
                      class: "fancy-dropdown-item audioButton" 
                  %>
                <% end %>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
</nav>
<!-- end of navbar -->
