<!DOCTYPE html>
<html lang="fr">
  <head>
    <!-- meta data -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
    <%= viewport_meta_tag(:maximum_scale => "1.0") %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <!-- title -->
    <%= display_meta_tags site: 'Argo Athletic' %>
    <!-- favicon -->
    <%= favicon_link_tag asset_path('argo-logo.png') %>

    <!-- css here -->
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="has-sidemenu overflow-hidden-x">
    <!-- preloader -->
    <%= render "layouts/preloader" %>
    <!-- navbar -->
    <%= render "layouts/navbar" %>
    <!-- flash messages -->
    <%= render "layouts/flash_messages" %>
    <!-- jumbotron -->
    <%= yield %>
    <!-- footer -->
    <%= render "layouts/footer" unless @disable_footer %>
    <!-- js here -->
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'https://checkout.stripe.com/checkout.js' %>
  </body>
</html>
