<!DOCTYPE html>
<html lang="fr">
  <head>
    <%= display_meta_tags site: 'Argo Athletic' %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <!-- css here -->
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'true' %>
  </head>

  <body>
    <!-- navbar -->
    <%= render "layouts/navbar" %>
    <!-- bootstrap flash -->
    <%= bootstrap_flash %>
    <!-- jumbotron -->
    <%= yield %>
    <!-- footer -->
    <%= render "layouts/footer" %>
    <!-- js here -->
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'true' %>
    <%= boostrap_js_include_tag %>
  </body>
</html>
